doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Timer
    include includes/head.pug
    link(rel="stylesheet", href="styles/defaultPageDesign.css")
    link(rel="stylesheet", href="styles/timer.css")
  body 
    div.bodyBox-sideMenu
      form(action="/")
        button.button.btn-back
          span.material-icons.icon-back &#xe5e0;
    div.bodyBox-center
      div.titleBox
        div.mainTitle BurnOn
        div.subTitle Timer
      div.timerBox
        -for(i = 0; i < 2; i++)
          div.decoration
            div.decoration_string
            div.decoration_string
        div.backGroundCircle.leftBack
          div.showPercentCircle.left#loadingLeftJS
        div.backGroundCircle.rightBack
          div.showPercentCircle.right#loadingRightJS
        div.insideWhiteCircle
        div.insideImageCircle
        div.insideImageOveray
          div.timer#timerJS
            div.dash
            input.timerNumJS(type="number")
            div.timerTimeBox.timerTimeBoxJS.hidden
              div.blink
              -for(i = 0; i < 2; i++)
                -for(j = 0; j < 10; j++)
                  div.timerHourJS.timerTime #{i}#{j}
              div.blink
            div.sign h
            input.timerNumJS(type="number")
            div.timerTimeBox.timerTimeBoxJS.hidden
              div.blink
              -for(a = 0; a < 6; a++)
                -for(b = 0; b < 10; b++)
                  div.timerMinuteJS.timerTime #{a}#{b}
              div.blink
            div.sign m
            div.timerTimeBox.timerTimeBoxJS(style="display : none")
              div.blink
              -for(a = 0; a < 6; a++)
                -for(b = 0; b < 10; b++)
                  div.timerSecondJS.timerTime #{a}#{b}
              div.blink
            div.dash
          div.timerControler
            div.timerControl#timerStart
              canvas#startIconJS(width="20px", height="20px")
            div.timerControl#timerStop(style="display:none;")
              canvas#stopIconJS(width="20px", height="20px")
            div.timerControl#timerEnd
              canvas#endIconJS(width="20px", height="20px")
      div.qouteBox 
        div.qoute Lorem Ipsum is simply dummy text of the printing and
        div.writer -Lorem Ipsum-
      div.controlerBox
        div.minuteBox
          div 00:00
          div.endMinute 00:00
        div.minuteLine
          div.minuteLineFill
        div.minuteControlBtnBox
          span.material-icons.icon-skip &#xe045;
          div.button.btn-play#btn-playJS
            span.material-icons.icon-pause#icon-playJS &#xe037;
          span.material-icons.icon-skip &#xe044;
    div.bodyBox-sideMenu#bodyBox-sideMenuJS
      div.option-buttons
        div.button.btn-menu
          span.icon-hamburger.material-icons.sideBar__icon &#xe5d2;
        div.button.btn-menu
          span.icon-music.material-icons.sideBar__icon &#xe405;
        div.button.btn-menu
          span.icon-volume.material-icons.sideBar__icon &#xe050;
        div.sideBar__blank#sideBar__blankJS
          span.material-icons.closeSideBar#closeSideBarJS.hidden &#xe5e1;
      div.option-hamburger#option-hamburgerJS.hidden
        -const PAGELINK = ["timer", "pomodoro", "custom"];
        -const PAGENAME = ["Timer", "Pomodoro", "Custom"];
        -for(i in PAGENAME)
          form(action="/" + PAGELINK[i], method="get") 
            button.movePageBox #{PAGENAME[i]}
      div.option-music#option-musicJS.hidden
        -for(i = 0; i < fileNames.length; i++)
          div.musicListBox
            input(type="radio", name="audio", id=fileNames[i]).musicRadioInputJS
            div.musicListBox_textBox
              div.musicListBox_name #{fileNames[i]}
              div.musicListBox_time 00:00
      div.option-volume#option-volumeJS.hidden
    script(src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js") 
    script(src="javascripts/defaultPageDesign.js")
    script(src="javascripts/canvas.js")
    script(src="javascripts/timer.js")
    script(src="javascripts/audio.js") 

